{% extends 'base.html.twig' %}

{% block title %}Add article{% endblock %}

{% block body %}

    <h1>Add an article</h1>

    {{ form(form) }}

    <button>
        <a href="{{ path('getArticles') }}">Cancel</a>
    </button>

{% endblock %}
